footer
    .container
        .row
            .col-lg-2.footer-about
                .title-footer ABOUT
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .col-lg-3.col-md-6.footer-contat
                .title-footer CONTACT
                ul.list-item
                    .item
                        img(src="./assets/icon/address.svg", alt="")
                        p No. 1B St., Phu My 1 Industrial Phu My Town, Ba ria - Vung Tau
                    .item
                        img(src="./assets/icon/gmail.svg", alt="")
                        p kinhdoanh@pomina-flat-steel.com
                    .item
                        img(src="./assets/icon/phone.svg", alt="")
                        ul.list-phone
                            li.item-phone +84) (254) 3922 516
                            li.item-phone (+84) (254) 3893 498
            .col-lg-3.col-md-6.footer-areas
                .title-footer AREAS OF WORK
                ul.list-item
                    li.item
                        a(href="#") Pomina Flat Steel
                    li.item
                        a(href="#") Pomina Flat Steel
                    li.item
                        a(href="#") Pomina Flat Steel
                    li.item
                        a(href="#") Pomina Flat Steel
            .col-lg-4.footer-send-mail
                .title-footer NEWSLETTERS
                p Subcribe to our newletter to receive updates on our company's products , news, and special offers.
                form(action="#", method="get")
                    .form-group
                        input(type="email", name="" placeholder="Enter your email")
                        button SUBSCRIBE
            .coppyright
                .container
                    .list-item
                        .item
                            span Copyright 2019 Pomina Flat Steel
                        .item
                            .list-social-media
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/fb.svg", alt="")
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/twitter.svg", alt="")
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/pinterest.svg", alt="")
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/vimeo.svg", alt="")
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/google.svg", alt="")
                                .item-scial
                                    a(href="#")
                                        img(src="./assets/icon/rss.svg", alt="")
