header
	.container.p-0
		.row
			nav.header-nav
				img.col-md-3.col-sm-6.col-12.logo(src="./assets/logo.png", alt="")
				ul.col-md-9
					li
						a(href="#") Trang Chủ
					li
						a(href="#") Sản Phẩm
					li
						a(href="#") Phân Phối
					li
						a(href="#") Công Trình
					li
						a(href="#") Cộng Đồng
					li
						a(href="#") Truyền Thông
					li
						a(href="#") Liên hệ