section.index-3
    .container
        .row
            .col-lg-4.col-md-6
                .box-intro.left
                    .intro-img
                        img(src="./assets/images/index3/item-box-intro.png", alt="")
                    .box-content
                        .content
                            h3 Our Product
                            p.limit-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.alley of type and scrambled it to make a type specimen book.
            .col-lg-8.col-md-6
                .title
                    h3 Our Production
                    p.limit-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.alley of type and scrambled it to make a type specimen book.
                .list-item
                    .item.col-md-4
                        a(href="#")
                            figure
                                img(src="./assets/images/index3/item-1.png", alt="")
                                figcaption
                                    h5 Roll Steel
                    .item.col-md-4
                        a(href="#")
                            figure
                                img(src="./assets/images/index3/item-2.png", alt="")
                                figcaption
                                    h5 Roll Steel Color
                    .item.col-md-4
                        a(href="#")
                            figure
                                img(src="./assets/images/index3/item-3.png", alt="")
                                figcaption
                                    h5 Color Steel
                a(href="#")
                    .btn-new VIEW ALL