section.index-5
    .container
        .row
            .title.col-md-6
                h3 Lates Company News
            .col-md-6
                a(href="#")
                    .btn-new VIEW ALL
        .row.list-item
            .item.col-md-4
                a(href="#")
                    .box-img
                        img(src="./assets/images/index-5/item-1.png", alt="")
                    figcaption
                        h5 Lorem Ipsum coreenta
                        span.date 12 April 2019
                        p.limit-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").read-more READ MORE
            .item.col-md-4
                a(href="#")
                    .box-img
                        img(src="./assets/images/index-5/item-2.png", alt="")
                    figcaption
                        h5 Lorem Ipsum coreenta
                        span.date 12 April 2019
                        p.limit-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").read-more READ MORE
            .item.col-md-4
                a(href="#")
                    .box-img
                        img(src="./assets/images/index-5/item-3.png", alt="")
                    figcaption
                        h5 Lorem Ipsum coreenta
                        span.date 12 April 2019
                        p.limit-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#").read-more READ MORE

