<!---About Start-->
section.about-container
    .container
        .row
            .col-md-7
                .row
                    .left-box.mt-5
                        .title-wrapper.mb-3
                            h2 About Us
                        .txt
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                .row    
                    .col-md-6
                        .main-about
                            .about-icon
                                
                            .about-wrapper
                                .title-about
                                    p Lorem Ipsum corenta
                                .txt-about
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown       
                    .col-md-6.main-about
                        .about-icon
                            a(href="#")
                                i.fas.fa-industry-alt
                        .about-wrapper
                            .title-about
                                p Lorem Ipsum corenta
                            .txt-about
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    .col-md-6.main-about
                        .about-icon
                            a(href="#")
                                i.fas.fa-industry-alt
                        .about-wrapper
                            .title-about
                                p Lorem Ipsum corenta
                            .txt-about
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                
                    .col-md-6.main-about
                        .about-icon
                            a(href="#")
                                i.fas.fa-industry-alt
                        .about-wrapper
                            .title-about
                                p Lorem Ipsum corenta
                            .txt-about
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            .col-md-5
                .right-box.mt-5
