section.banner
	.container-fluid
		.row
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.txt-slide
							.title-txt
								p.mb-2 Tôn lạnh màu Pomina
							.title
								p.mb-2 VƯƠN RA BIỂN LỚN
							.txt
								p Tôn lạnh màu Pomina A7100 mang đến sự yên tâm, niềm tự hào từng năm tháng theo công trình của bạn
							button.btn.mt-5
								a(href="#") CHI TIẾT
						img(src="./assets/slide.png", alt="")
					.swiper-slide
						.txt-slide
							.title-txt.mb-2
								p Tôn lạnh màu Pomina
							.title.mb-2
								p VƯƠN RA BIỂN LỚN
							.txt
								p Tôn lạnh màu Pomina A7100 mang đến sự yên tâm, niềm tự hào từng năm tháng theo công trình của bạn
							button.btn.mt-5
								a(href="#") CHI TIẾT
						img(src="./assets/slide.png", alt="")
					.swiper-slide
						.txt-slide
							.title-txt.mb-2
								p Tôn lạnh màu Pomina
							.title.mb-2
								p VƯƠN RA BIỂN LỚN
							.txt
								p Tôn lạnh màu Pomina A7100 mang đến sự yên tâm, niềm tự hào từng năm tháng theo công trình của bạn
							button.btn.mt-5
								a(href="#") CHI TIẾT
						img(src="./assets/slide.png", alt="")
					.swiper-slide
						.txt-slide
							.title-txt.mb-2
								p Tôn lạnh màu Pomina
							.title.mb-2
								p VƯƠN RA BIỂN LỚN
							.txt
								p Tôn lạnh màu Pomina A7100 mang đến sự yên tâm, niềm tự hào từng năm tháng theo công trình của bạn
							button.btn.mt-5
								a(href="#") CHI TIẾT
						img(src="./assets/slide.png", alt="")